body {
    font-family: "Open Sans", sans-serif;
	color: #fff;
    background-color: #000;
}

.app_container {
	height: 100vh;
}

.app_content {
	height: 100%;
	display:flex;
	flex-direction:column;
	border-style: none;
	border-color: #fff;
}

.top_bar {
    color: #fff;
	height: 50px;
	border-style: none;
	border-color: #fff;
}

.top_bar_info {
    float: right;
}

.top_bar_text {
    float: right;
	margin-right: 10px;
}

.top_bar_logo {
    float: right;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.top_bar_img {
    height: 40px;
    width: auto;
}

.main_display {
    color: #fff;
	height: calc(100vh - 100px);
	display: inline;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
}

.live_plots {
	color: #fff;
	height:100%;
	width:100%;
  	border-style: dashed;
	border-color: #fff;
}

.live_plot {
	height: 100%;
	width: 100%;
	color: #fff;
 }

.status_boxes{
	height:100%;
	display:flex;
	flex-direction:column;
	border-style: dashed;
	border-color: #fff;
}

.status_box{
  height:100%;
  	border-style: solid;
	border-color: #fff;
}

.bottom_bar {
	height: 50px;
	color: #fff;
	border-style: dashed;
	border-color: #fff;
}

.machine_parameters {
	width:100%;
	height:100%;
}

.machine_status{
	width:100%;
	height:100%;
	border-style: none;
	border-color: #fff;
}